.custom-select{
    width: 100%;
    position: relative;
}
.selected-box{
    font-size: 20px;
    padding: 10px 5px;
    border-bottom: 4px solid blue;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.selected-box.disabled{
    opacity:0.7;
    cursor: default;
}
.selected-box.disabled:hover{
    border-bottom-color: none;
}
.selected-box:hover{
    border-bottom-color: #5dade2;
}
.options-container{
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    z-index: 100;
    user-select: none;
}
.options-container.open{
    max-height: 250px;
    opacity: 1;
    transform: translateY(0);
}
.options-container::-webkit-scrollbar{
    width: 8px;
}
.options-container::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 20px;
}
.options-container::-webkit-scrollbar-track{
    background: #f1f1f1;
}
.option-item{
    border: none;
    background: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease;
}
.option-item:hover{
    background: #aaa;
}
.option-item:disabled{
    cursor: default;
    background: none;
    opacity: 0.7;
}
@media(max-width:780px){
    .option-item{
        font-size: 16px;
    }
}